.trip-img {
  max-width: 300px;
  max-height: 300px;
  margin-bottom: .25em;
}

.trip-tile {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mainnav {
  background-color: lightblue;
  font-style: bold;
}

.nav-item {
  display: inline;
}
