.trip-img {
  max-width: 300px;
  max-height: 300px;
  margin: .5em;
}

.trip-item {
  list-style: none;
  display: inline-block;
}

.trip-item:after {
  pointer-events: none;
}

.mainnav {
  background-color: lightblue;
  font-style: bold;
}

.nav-item {
  display: inline;
}
